{
  "leadingParts": [
    "主役_1",
    "主役_2",
    "主役_3",
    "主役_4"
  ],
  "participants": [
    "参加者_1",
    "参加者_2",
    "参加者_3",
    "参加者_4",
    "参加者_5",
    "参加者_6",
    "参加者_7",
    "参加者_8",
    "参加者_9",
    "参加者_10"
  ]
}